@{ 
    const string ApplicationName = "Engine Trend Monitoring";
}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @ApplicationName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EngineTrendMonitoring.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="navbar navbar-expand-lg sticky-top border-bottom">
        <nav class="container-xxl flex-wrap flex-lg-nowrap pt-1 pt-lg-0 px-3">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <h5>@ApplicationName</h5>
            </a>

            <button type="button" class="navbar-toggler d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas">
                <i class="bi bi-three-dots"></i>
            </button>

            <div class="offcanvas-lg offcanvas-end flex-grow-1" tabindex="-1" id="navbarOffcanvas" data-bs-scroll="true">
                <div class="offcanvas-header pb-0">
                    <h5 class="offcanvas-title">@ApplicationName</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#navbarOffcanvas"></button>
                </div>

                <div class="offcanvas-body pt-0">
                    <hr class="d-lg-none" />

                    <ul class="navbar-nav flex-row flex-wrap">
                        <li class="nav-item col-6 col-lg-auto">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Dashboard</a>
                        </li>

                        <li class="nav-item col-6 col-lg-auto">
                            <a class="nav-link" asp-controller="Aircraft" asp-action="Index">Aircraft</a>
                        </li>

                        <li class="nav-item col-6 col-lg-auto">
                            <a class="nav-link" asp-controller="EngineTrend" asp-action="Index">Engine Trend</a>
                        </li>
                    </ul>

                    <hr class="d-lg-none" />

                    <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                        <li class="nav-item col-6 col-lg-auto">
                            <a class="nav-link" href="https://github.com/fernandokeller/EngineTrendMonitoring" target="_blank">
                                <i class="bi bi-github"></i>
                                <span class="d-lg-none ms-2">GitHub</span>
                            </a>
                        </li>

                        <li class="nav-item col-12 col-lg-auto">
                            <div class="vr d-none d-lg-flex h-100 mx-lg-2"></div>
                            <hr class="d-lg-none my-2">
                        </li>

                        <li class="nav-item dropdown">
                            <button class="btn btn-link nav-link dropdown-toggle" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static">
                                <i class="bi bi-circle-half"></i>
                                <span class="ms-2 d-lg-none">Theme</span>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <button type="button" class="dropdown-item" data-bs-theme-value="light">
                                        <i class="bi bi-sun-fill me-2"></i>
                                        Light
                                    </button>
                                </li>

                                <li>
                                    <button type="button" class="dropdown-item" data-bs-theme-value="dark">
                                        <i class="bi bi-moon-stars-fill me-2"></i>
                                        Dark
                                    </button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="position-fixed w-100 bottom-0 border-top bg-body-tertiary">
        <div class="container text-body-secondary text-center">
            <a class="text-body-emphasis text-decoration-none" asp-controller="Home" asp-action="Index">
                <span class="fs-5">&copy; @DateTime.Today.Year @ApplicationName</span>
            </a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/theme.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
